[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

pandas="*"
numpy="*"
xlwt="*" 
openpyxl="*"  
xlsxwriter="*"  
xlrd="*" 

[dev-packages]

pandas="*"
numpy="*"
xlwt="*" 
openpyxl="*"  
xlsxwriter="*"  
xlrd="*" 

[requires]
python_version = "3.9"
